{
  "openapi": "3.1.0",
  "info": {
    "title": "ApiTwitter",
    "description": "Unofficial Twitter/X API for developers.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apitwitter.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/twitter/session/verify": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify Session",
        "description": "Verify that the provided cookies are still valid and the session is active.\n\n**Cost:** 5 credits",
        "operationId": "verifySession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "username": "johndoe"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by Username",
        "description": "Get a user's profile by screen name.\n\n**Cost:** 16 credits",
        "operationId": "getUserByUsernamePool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/id/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by ID",
        "description": "Get a user's profile by numeric ID.\n\n**Cost:** 16 credits",
        "operationId": "getUserByIdPool",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/users/batch": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Batch Get Users",
        "description": "Batch retrieve multiple user profiles by their IDs.\n\n**Cost:** 16 credits",
        "operationId": "batchGetUsersPool",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of user IDs",
            "schema": {
              "type": "string"
            },
            "example": "44196397,123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/followers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Followers",
        "description": "Get a paginated list of a user's followers.\n\n**Cost:** 14 credits",
        "operationId": "getUserFollowersPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 200)",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/following": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Following",
        "description": "Get a paginated list of accounts a user is following.\n\n**Cost:** 14 credits",
        "operationId": "getUserFollowingPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 200)",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of following",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/likes": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Likes",
        "description": "Get tweets liked by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserLikes",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of liked tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example liked tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 1000,
                        "retweetCount": 200,
                        "replyCount": 50,
                        "viewCount": 50000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAACCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/media": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Media",
        "description": "Get media tweets posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserMedia",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of media tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example media tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 5000,
                        "retweetCount": 800,
                        "replyCount": 200,
                        "viewCount": 100000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/replies": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Replies",
        "description": "Get tweets and replies posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserRepliesPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/followers-you-know": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Mutual Followers",
        "description": "Get mutual followers (followers you know) for a given user.\n\n**Cost:** 14 credits",
        "operationId": "getMutualFollowersPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mutual followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/remove-follower": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Remove Follower",
        "description": "Remove a follower from your account.\n\n**Cost:** 225 credits",
        "operationId": "removeFollower",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID of the follower to remove",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follower removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/blocked": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Blocked Users",
        "description": "Get a list of accounts you have blocked.\n\n**Cost:** 14 credits",
        "operationId": "getBlockedUsers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of blocked users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "123456789",
                        "userName": "blockeduser",
                        "name": "Blocked User",
                        "screen_name": "blockeduser",
                        "description": "",
                        "location": "",
                        "url": "",
                        "created_at": "Mon Jan 01 00:00:00 +0000 2020",
                        "followers": 100,
                        "following": 50,
                        "favourites_count": 0,
                        "statuses_count": 10,
                        "listed_count": 0,
                        "media_count": 0,
                        "verified": false,
                        "is_blue_verified": false,
                        "profile_image_url": "",
                        "profile_banner_url": "",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2031051110231310334"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/muted": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Muted Users",
        "description": "Get a list of accounts you have muted.\n\n**Cost:** 14 credits",
        "operationId": "getMutedUsers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of muted users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "123456789",
                        "userName": "muteduser",
                        "name": "Muted User",
                        "screen_name": "muteduser",
                        "description": "",
                        "location": "",
                        "url": "",
                        "created_at": "Mon Jan 01 00:00:00 +0000 2020",
                        "followers": 100,
                        "following": 50,
                        "favourites_count": 0,
                        "statuses_count": 10,
                        "listed_count": 0,
                        "media_count": 0,
                        "verified": false,
                        "is_blue_verified": false,
                        "profile_image_url": "",
                        "profile_banner_url": "",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2031051115600019454"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Create Tweet",
        "description": "Create a new tweet or reply to an existing tweet.\n\n**Cost:** 225 credits",
        "operationId": "createTweet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_text",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "tweet_text": {
                    "type": "string",
                    "description": "The text content of the tweet"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "reply_to_tweet_id": {
                    "type": "string",
                    "description": "Tweet ID to reply to"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "tweet_id": "2031089570253757233",
                  "msg": "Tweet created"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/lookup": {
      "get": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get Tweets by IDs",
        "description": "Retrieve one or more tweets by their IDs.\n\n**Cost:** 14 credits",
        "operationId": "getTweetsPool",
        "parameters": [
          {
            "name": "tweet_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of tweet IDs",
            "schema": {
              "type": "string"
            },
            "example": "1234567890,9876543210"
          }
        ],
        "responses": {
          "200": {
            "description": "Tweet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/tweets": {
      "get": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get User Tweets",
        "description": "Get a paginated list of tweets posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserTweetsPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/timeline/for-you": {
      "post": {
        "tags": [
          "Timelines"
        ],
        "summary": "For You Timeline",
        "description": "Retrieve the algorithmic \"For You\" home timeline.\n\n**Cost:** 14 credits",
        "operationId": "forYouTimeline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of tweets to return, 1-100 (default: 20)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2031042859114369256",
                        "text": "Example tweet from For You timeline",
                        "created_at": "Mon Mar 09 16:22:07 +0000 2026",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk",
                          "followers_count": 236242950,
                          "friends_count": 1292,
                          "statuses_count": 98757,
                          "favourites_count": 215441,
                          "listed_count": 167614,
                          "description": "",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/44196397/1739948056",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 25604,
                        "retweetCount": 3699,
                        "replyCount": 1335,
                        "viewCount": 1325114,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  },
                  "source": "for_you"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/timeline/latest": {
      "post": {
        "tags": [
          "Timelines"
        ],
        "summary": "Latest Timeline",
        "description": "Retrieve the chronological \"Following\" / \"Latest\" home timeline.\n\n**Cost:** 14 credits",
        "operationId": "latestTimeline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of tweets to return, 1-100 (default: 20)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2031042244380107161",
                        "text": "RT @stackbtc_: We are excited to announce...",
                        "created_at": "Mon Mar 09 16:19:40 +0000 2026",
                        "author": {
                          "id": "244647486",
                          "userName": "saylor",
                          "name": "Michael Saylor",
                          "screen_name": "saylor",
                          "followers_count": 4945574,
                          "friends_count": 793,
                          "statuses_count": 7230,
                          "favourites_count": 10169,
                          "listed_count": 27371,
                          "description": "Bitcoin is Hope",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/244647486/1738781752",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 0,
                        "retweetCount": 64,
                        "replyCount": 0,
                        "viewCount": 9,
                        "isRetweet": true,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  },
                  "source": "latest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Tweets",
        "description": "Search for tweets.\n\n**Cost:** 14 credits",
        "operationId": "searchTweetsPool",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            },
            "example": "OpenAI"
          },
          {
            "name": "product",
            "in": "query",
            "description": "Result type filter (default: Top)",
            "schema": {
              "type": "string",
              "enum": [
                "Top",
                "Latest",
                "People",
                "Photos",
                "Videos"
              ],
              "default": "Top"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results, 1-100 (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}": {
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Delete Tweet",
        "description": "Delete a tweet by its ID.\n\n**Cost:** 225 credits",
        "operationId": "deleteTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to delete",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/retweet": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Retweet",
        "description": "Retweet a tweet.\n\n**Cost:** 225 credits",
        "operationId": "retweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to retweet",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retweeted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Retweeted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Undo Retweet",
        "description": "Undo a retweet.\n\n**Cost:** 225 credits",
        "operationId": "undoRetweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to un-retweet",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retweet undone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/pin": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Pin Tweet",
        "description": "Pin a tweet to the top of your profile.\n\n**Cost:** 225 credits",
        "operationId": "pinTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to pin",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet pinned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Unpin Tweet",
        "description": "Unpin a tweet from your profile.\n\n**Cost:** 225 credits",
        "operationId": "unpinTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to unpin",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet unpinned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/like": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Like Tweet",
        "description": "Like a tweet.\n\n**Cost:** 225 credits",
        "operationId": "likeTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to like",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet liked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet liked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/unlike": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Unlike Tweet",
        "description": "Unlike a previously liked tweet.\n\n**Cost:** 225 credits",
        "operationId": "unlikeTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to unlike",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet unliked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet unliked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/follow": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Follow User",
        "description": "Follow a user.\n\n**Cost:** 225 credits",
        "operationId": "followUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to follow",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User followed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/unfollow": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Unfollow User",
        "description": "Unfollow a user.\n\n**Cost:** 225 credits",
        "operationId": "unfollowUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to unfollow",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/dm/{user_id}": {
      "post": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Send Direct Message",
        "description": "Send a direct message to a user.\n\n**Cost:** 225 credits",
        "operationId": "sendDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID of the recipient",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Message text to send"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "message_id": "e1814743-4cdc-4151-916d-17cf2fa7771a",
                  "conversation_id": "1693583885060202496-1818311005698678784",
                  "delivered": true,
                  "msg": "DM sent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/dm/block/{user_id}": {
      "post": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Block User in DMs",
        "description": "Block a user in direct messages.\n\n**Cost:** 225 credits",
        "operationId": "blockDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to block in DMs",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User blocked in DMs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Unblock User in DMs",
        "description": "Unblock a user in direct messages.\n\n**Cost:** 225 credits",
        "operationId": "unblockDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to unblock in DMs",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User unblocked in DMs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/bookmark": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Add Bookmark",
        "description": "Add a tweet to your bookmarks.\n\n**Cost:** 225 credits",
        "operationId": "addBookmark",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to bookmark",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet bookmarked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Remove Bookmark",
        "description": "Remove a tweet from your bookmarks.\n\n**Cost:** 225 credits",
        "operationId": "removeBookmark",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to remove from bookmarks",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bookmark removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/bookmarks": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Get Bookmarks",
        "description": "Get a paginated list of your bookmarked tweets.\n\n**Cost:** 14 credits",
        "operationId": "getBookmarks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of bookmarked tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example bookmarked tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 5000,
                        "retweetCount": 1000,
                        "replyCount": 200,
                        "viewCount": 500000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAACCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create List",
        "description": "Create a new Twitter list.\n\n**Cost:** 225 credits",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the list"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the list"
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "Whether the list is private (default: false)",
                    "default": false
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}": {
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Delete List",
        "description": "Delete a Twitter list.\n\n**Cost:** 225 credits",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to delete",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lists"
        ],
        "summary": "Update List",
        "description": "Update an existing Twitter list's name, description, or privacy setting.\n\n**Cost:** 225 credits",
        "operationId": "updateList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to update",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the list"
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the list"
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "Updated privacy setting"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Custom User-Agent header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/info": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List",
        "description": "Get information about a specific list.\n\n**Cost:** 14 credits",
        "operationId": "getList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/tweets": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Tweets",
        "description": "Get a paginated feed of tweets from a list.\n\n**Cost:** 14 credits",
        "operationId": "getListTweets",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Members",
        "description": "Get a paginated list of members in a list.\n\n**Cost:** 14 credits",
        "operationId": "getListMembers",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members/{user_id}/add": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add List Member",
        "description": "Add a member to a list.\n\n**Cost:** 225 credits",
        "operationId": "addListMember",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to add",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members/{user_id}/remove": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove List Member",
        "description": "Remove a member from a list.\n\n**Cost:** 225 credits",
        "operationId": "removeListMember",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to remove",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/subscribers": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Subscribers",
        "description": "Get a paginated list of subscribers to a list.\n\n**Cost:** 14 credits",
        "operationId": "getListSubscribers",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/subscribe": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Subscribe to List",
        "description": "Subscribe to a list.\n\n**Cost:** 225 credits",
        "operationId": "subscribeToList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to subscribe to",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Unsubscribe from List",
        "description": "Unsubscribe from a list.\n\n**Cost:** 225 credits",
        "operationId": "unsubscribeFromList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to unsubscribe from",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/owned": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get Owned Lists",
        "description": "Get all lists owned by a user.\n\n**Cost:** 14 credits",
        "operationId": "getOwnedLists",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy",
                  "user_id"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Numeric Twitter user ID"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of results to return (default: 100)",
                    "default": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of owned lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "lists": [
                      {
                        "id": "123456789",
                        "name": "My List",
                        "description": "A sample list",
                        "member_count": 10,
                        "subscriber_count": 5,
                        "is_private": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/memberships": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Memberships",
        "description": "Get all lists a user is a member of.\n\n**Cost:** 14 credits",
        "operationId": "getListMemberships",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy",
                  "user_id"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Numeric Twitter user ID"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of results to return (default: 100)",
                    "default": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of memberships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "lists": [
                      {
                        "id": "123456789",
                        "name": "Tech Leaders",
                        "description": "Top tech leaders",
                        "member_count": 50,
                        "subscriber_count": 1000,
                        "is_private": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/communities/explore": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Explore Communities",
        "description": "Explore and discover communities.\n\n**Cost:** 14 credits",
        "operationId": "exploreCommunities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of communities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "communities": [
                      {
                        "id": "123456789",
                        "name": "Tech Community",
                        "description": "A community for tech enthusiasts",
                        "member_count": 5000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/communities/{community_id}": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community",
        "description": "Get information about a specific community.\n\n**Cost:** 14 credits",
        "operationId": "getCommunity",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "ID of the community",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Community data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/communities/{community_id}/join": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Join Community",
        "description": "Join a community.\n\n**Cost:** 225 credits",
        "operationId": "joinCommunity",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "ID of the community to join",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Joined community",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Communities"
        ],
        "summary": "Leave Community",
        "description": "Leave a community.\n\n**Cost:** 225 credits",
        "operationId": "leaveCommunity",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "ID of the community to leave",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Left community",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/communities/{community_id}/tweets": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Tweets",
        "description": "Get a paginated feed of tweets from a community.\n\n**Cost:** 14 credits",
        "operationId": "getCommunityTweets",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "ID of the community",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of community tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/communities/{community_id}/media": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "Get Community Media",
        "description": "Get media content from a community.\n\n**Cost:** 14 credits",
        "operationId": "getCommunityMedia",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "description": "ID of the community",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of community media",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/topics/{topic_id}": {
      "post": {
        "tags": [
          "Topics"
        ],
        "summary": "Get Topic",
        "description": "Get information about a specific topic.\n\n**Cost:** 14 credits",
        "operationId": "getTopic",
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "description": "ID of the topic",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/topics/{topic_id}/follow": {
      "post": {
        "tags": [
          "Topics"
        ],
        "summary": "Follow Topic",
        "description": "Follow a topic to see related content in your timeline.\n\n**Cost:** 225 credits",
        "operationId": "followTopic",
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "description": "ID of the topic to follow",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic followed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Topics"
        ],
        "summary": "Unfollow Topic",
        "description": "Unfollow a topic.\n\n**Cost:** 225 credits",
        "operationId": "unfollowTopic",
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "description": "ID of the topic to unfollow",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CookieProxyBody": {
        "type": "object",
        "required": [
          "cookie",
          "proxy"
        ],
        "properties": {
          "cookie": {
            "type": "string",
            "description": "Twitter auth cookie"
          },
          "proxy": {
            "type": "string",
            "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
          }
        }
      },
      "CookieProxyActionBody": {
        "type": "object",
        "required": [
          "cookie",
          "proxy"
        ],
        "properties": {
          "cookie": {
            "type": "string",
            "description": "Twitter auth cookie"
          },
          "proxy": {
            "type": "string",
            "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
          },
          "user_agent": {
            "type": "string",
            "description": "Custom User-Agent header"
          }
        }
      },
      "PaginatedBody": {
        "type": "object",
        "required": [
          "cookie",
          "proxy"
        ],
        "properties": {
          "cookie": {
            "type": "string",
            "description": "Twitter auth cookie"
          },
          "proxy": {
            "type": "string",
            "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
          },
          "count": {
            "type": "integer",
            "description": "Number of results to return, 1-100 (default: 20)",
            "default": 20,
            "minimum": 1,
            "maximum": 100
          },
          "cursor": {
            "type": "string",
            "description": "Pagination cursor for the next page"
          }
        }
      },
      "PaginatedLargeBody": {
        "type": "object",
        "required": [
          "cookie",
          "proxy"
        ],
        "properties": {
          "cookie": {
            "type": "string",
            "description": "Twitter auth cookie"
          },
          "proxy": {
            "type": "string",
            "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
          },
          "count": {
            "type": "integer",
            "description": "Number of results to return (default: 200)",
            "default": 200
          },
          "cursor": {
            "type": "string",
            "description": "Pagination cursor for the next page"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status",
            "example": "success"
          },
          "msg": {
            "type": "string",
            "description": "Response message"
          },
          "data": {
            "description": "Response data"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your API key"
      }
[...]
