{
  "openapi": "3.1.0",
  "info": {
    "title": "ApiTwitter API",
    "description": "ApiTwitter REST API for Twitter/X: tweets, users, search, timelines, direct messages, lists, communities, and topics. Pay-per-use third-party Twitter API—documentation at https://docs.apitwitter.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apitwitter.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/twitter/session/verify": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Verify Session",
        "description": "Verify that the provided cookies are still valid and the session is active.\n\n**Cost:** 5 credits",
        "operationId": "verifySession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "username": "johndoe"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by Username",
        "description": "Get a user's profile by screen name.\n\n**Cost:** 16 credits",
        "operationId": "getUserByUsernamePool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "11348282",
                    "userName": "NASA",
                    "name": "NASA",
                    "screen_name": "NASA",
                    "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                    "location": "Pale Blue Dot",
                    "url": "https://t.co/9NkQJKAnuU",
                    "created_at": "Wed Dec 19 20:20:32 +0000 2007",
                    "followers": 90024447,
                    "following": 116,
                    "favourites_count": 16551,
                    "statuses_count": 73493,
                    "listed_count": 96550,
                    "media_count": 27783,
                    "verified": false,
                    "is_blue_verified": true,
                    "profile_image_url": "https://pbs.twimg.com/profile_images/1321163587679784960/0ZxKlEKB_normal.jpg",
                    "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                    "protected": false,
                    "can_dm": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/id/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by ID",
        "description": "Get a user's profile by numeric ID.\n\n**Cost:** 16 credits",
        "operationId": "getUserByIdPool",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "44196397",
                    "userName": "elonmusk",
                    "name": "Elon Musk",
                    "screen_name": "elonmusk",
                    "description": "",
                    "location": "",
                    "url": "",
                    "created_at": "Tue Jun 02 20:12:29 +0000 2009",
                    "followers": 237097815,
                    "following": 1301,
                    "favourites_count": 218243,
                    "statuses_count": 99784,
                    "listed_count": 167966,
                    "media_count": 4408,
                    "verified": false,
                    "is_blue_verified": true,
                    "profile_image_url": "https://pbs.twimg.com/profile_images/2035314704307081216/71U1ftM3_normal.jpg",
                    "profile_banner_url": "https://pbs.twimg.com/profile_banners/44196397/1739948056",
                    "protected": false,
                    "can_dm": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/users/batch": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Batch Get Users",
        "description": "Batch retrieve multiple user profiles by their IDs.\n\n**Cost:** 16 credits",
        "operationId": "batchGetUsersPool",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of user IDs",
            "schema": {
              "type": "string"
            },
            "example": "44196397,123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "44196397",
                      "userName": "elonmusk",
                      "name": "Elon Musk",
                      "screen_name": "elonmusk",
                      "description": "",
                      "location": "",
                      "url": "",
                      "created_at": "Tue Jun 02 20:12:29 +0000 2009",
                      "followers": 237097815,
                      "following": 1301,
                      "favourites_count": 218243,
                      "statuses_count": 99784,
                      "listed_count": 167966,
                      "media_count": 4408,
                      "verified": false,
                      "is_blue_verified": true,
                      "profile_image_url": "https://pbs.twimg.com/profile_images/2035314704307081216/71U1ftM3_normal.jpg",
                      "profile_banner_url": "https://pbs.twimg.com/profile_banners/44196397/1739948056",
                      "protected": false,
                      "can_dm": false
                    },
                    {
                      "id": "50393960",
                      "userName": "BillGates",
                      "name": "Bill Gates",
                      "screen_name": "BillGates",
                      "description": "Sharing things I'm learning through my foundation work and other interests.",
                      "location": "Seattle, WA",
                      "url": "https://t.co/TiXXwOGE95",
                      "created_at": "Wed Jun 24 18:44:10 +0000 2009",
                      "followers": 62764248,
                      "following": 572,
                      "favourites_count": 545,
                      "statuses_count": 4517,
                      "listed_count": 115498,
                      "media_count": 1530,
                      "verified": false,
                      "is_blue_verified": true,
                      "profile_image_url": "https://pbs.twimg.com/profile_images/1879013694367252480/Gxa-Pspq_normal.jpg",
                      "profile_banner_url": "https://pbs.twimg.com/profile_banners/50393960/1745250848",
                      "protected": false,
                      "can_dm": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/followers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Followers",
        "description": "Get a paginated list of a user's followers.\n\n**Cost:** 14 credits",
        "operationId": "getUserFollowersPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 200)",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "followers": [
                      {
                        "id": "34743251",
                        "userName": "SpaceX",
                        "name": "SpaceX",
                        "screen_name": "SpaceX",
                        "description": "SpaceX designs, manufactures and launches the world's most advanced rockets and spacecraft",
                        "location": "Earth",
                        "url": "https://t.co/VOJ6qEctND",
                        "created_at": "Thu Apr 23 21:53:30 +0000 2009",
                        "followers": 41307655,
                        "following": 122,
                        "favourites_count": 521,
                        "statuses_count": 11158,
                        "listed_count": 44332,
                        "media_count": 4354,
                        "verified": false,
                        "is_blue_verified": true,
                        "profile_image_url": "https://pbs.twimg.com/profile_images/1697749409851985920/HbrI04tM_normal.jpg",
                        "profile_banner_url": "https://pbs.twimg.com/profile_banners/34743251/1681251194",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2035407347207110654"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/following": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Following",
        "description": "Get a paginated list of accounts a user is following.\n\n**Cost:** 14 credits",
        "operationId": "getUserFollowingPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 200)",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of following",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "following": [
                      {
                        "id": "14091091",
                        "userName": "NASAHubble",
                        "name": "Hubble",
                        "screen_name": "NASAHubble",
                        "description": "The official X account for the NASA Hubble Space Telescope, managed and operated by NASA's Goddard Space Flight Center.",
                        "location": "Goddard Space Flight Center",
                        "url": "https://t.co/3bfzzswzV0",
                        "created_at": "Thu Mar 06 20:15:02 +0000 2008",
                        "followers": 8878030,
                        "following": 42,
                        "favourites_count": 1218,
                        "statuses_count": 8300,
                        "listed_count": 15154,
                        "media_count": 3047,
                        "verified": false,
                        "is_blue_verified": true,
                        "profile_image_url": "https://pbs.twimg.com/profile_images/3468011581/efb985f24af0a814a722457a768f3cc5_normal.jpeg",
                        "profile_banner_url": "https://pbs.twimg.com/profile_banners/14091091/1669391293",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2035407347207110654"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/likes": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Likes",
        "description": "Get tweets liked by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserLikes",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of liked tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example liked tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 1000,
                        "retweetCount": 200,
                        "replyCount": 50,
                        "viewCount": 50000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAACCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/media": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Media",
        "description": "Get media tweets posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserMedia",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of media tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example media tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 5000,
                        "retweetCount": 800,
                        "replyCount": 200,
                        "viewCount": 100000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/replies": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User Replies",
        "description": "Get tweets and replies posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserRepliesPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2035115386710925518",
                        "text": "LIVE: After the X-59's successful second flight, NASA experts discuss our plans for upcoming tests of the experimental quiet supersonic aircraft.",
                        "created_at": "Fri Mar 20 22:04:53 +0000 2026",
                        "author": {
                          "id": "11348282",
                          "userName": "NASA",
                          "name": "NASA",
                          "screen_name": "NASA",
                          "followers_count": 90024457,
                          "friends_count": 116,
                          "statuses_count": 73493,
                          "favourites_count": 16551,
                          "listed_count": 96550,
                          "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 1511,
                        "retweetCount": 300,
                        "replyCount": 129,
                        "viewCount": null,
                        "isRetweet": false,
                        "isReply": false,
                        "media": []
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/followers-you-know": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Mutual Followers",
        "description": "Get mutual followers (followers you know) for a given user.\n\n**Cost:** 14 credits",
        "operationId": "getMutualFollowersPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mutual followers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "34743251",
                        "userName": "SpaceX",
                        "name": "SpaceX",
                        "screen_name": "SpaceX",
                        "description": "SpaceX designs, manufactures and launches the world's most advanced rockets and spacecraft",
                        "location": "Earth",
                        "url": "https://t.co/VOJ6qEctND",
                        "created_at": "Thu Apr 23 21:53:30 +0000 2009",
                        "followers": 41307655,
                        "following": 122,
                        "favourites_count": 521,
                        "statuses_count": 11158,
                        "listed_count": 44332,
                        "media_count": 4354,
                        "verified": false,
                        "is_blue_verified": true,
                        "profile_image_url": "https://pbs.twimg.com/profile_images/1697749409851985920/HbrI04tM_normal.jpg",
                        "profile_banner_url": "https://pbs.twimg.com/profile_banners/34743251/1681251194",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2035407347207110654"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/remove-follower": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Remove Follower",
        "description": "Remove a follower from your account.\n\n**Cost:** 225 credits",
        "operationId": "removeFollower",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID of the follower to remove",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follower removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Follower removed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/blocked": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Blocked Users",
        "description": "Get a list of accounts you have blocked.\n\n**Cost:** 14 credits",
        "operationId": "getBlockedUsers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of blocked users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "123456789",
                        "userName": "blockeduser",
                        "name": "Blocked User",
                        "screen_name": "blockeduser",
                        "description": "",
                        "location": "",
                        "url": "",
                        "created_at": "Mon Jan 01 00:00:00 +0000 2020",
                        "followers": 100,
                        "following": 50,
                        "favourites_count": 0,
                        "statuses_count": 10,
                        "listed_count": 0,
                        "media_count": 0,
                        "verified": false,
                        "is_blue_verified": false,
                        "profile_image_url": "",
                        "profile_banner_url": "",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2031051110231310334"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/muted": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Get Muted Users",
        "description": "Get a list of accounts you have muted.\n\n**Cost:** 14 credits",
        "operationId": "getMutedUsers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of muted users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "123456789",
                        "userName": "muteduser",
                        "name": "Muted User",
                        "screen_name": "muteduser",
                        "description": "",
                        "location": "",
                        "url": "",
                        "created_at": "Mon Jan 01 00:00:00 +0000 2020",
                        "followers": 100,
                        "following": 50,
                        "favourites_count": 0,
                        "statuses_count": 10,
                        "listed_count": 0,
                        "media_count": 0,
                        "verified": false,
                        "is_blue_verified": false,
                        "profile_image_url": "",
                        "profile_banner_url": "",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2031051115600019454"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Create Tweet",
        "description": "Create a new tweet or reply to an existing tweet.\n\n**Cost:** 225 credits",
        "operationId": "createTweet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tweet_text",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "tweet_text": {
                    "type": "string",
                    "description": "The text content of the tweet"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "reply_to_tweet_id": {
                    "type": "string",
                    "description": "Tweet ID to reply to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "tweet_id": "2031089570253757233",
                  "msg": "Tweet created"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/lookup": {
      "get": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get Tweets by IDs",
        "description": "Retrieve one or more tweets by their IDs.\n\n**Cost:** 14 credits",
        "operationId": "getTweetsPool",
        "parameters": [
          {
            "name": "tweet_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of tweet IDs",
            "schema": {
              "type": "string"
            },
            "example": "1234567890,9876543210"
          }
        ],
        "responses": {
          "200": {
            "description": "Tweet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "2035003700855407052",
                      "text": "Happy vernal equinox! 🍀\n\nToday marks the first day of spring in the Northern Hemisphere and the first day of autumn in the Southern Hemisphere.",
                      "created_at": "Fri Mar 20 14:41:05 +0000 2026",
                      "author": {
                        "id": "11348282",
                        "userName": "NASA",
                        "name": "NASA",
                        "screen_name": "NASA",
                        "followers_count": 90024457,
                        "friends_count": 116,
                        "statuses_count": 73493,
                        "favourites_count": 16551,
                        "listed_count": 96550,
                        "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                        "location": "",
                        "profile_image_url_https": "",
                        "profile_image_url": "",
                        "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                        "verified": false,
                        "is_blue_verified": true,
                        "created_at": "",
                        "can_dm": false
                      },
                      "likeCount": 15230,
                      "retweetCount": 2100,
                      "replyCount": 450,
                      "viewCount": 1250000,
                      "isRetweet": false,
                      "isReply": false,
                      "media": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{userName}/tweets": {
      "get": {
        "tags": [
          "Tweets"
        ],
        "summary": "Get User Tweets",
        "description": "Get a paginated list of tweets posted by a user.\n\n**Cost:** 14 credits",
        "operationId": "getUserTweetsPool",
        "parameters": [
          {
            "name": "userName",
            "in": "path",
            "required": true,
            "description": "Twitter screen name",
            "schema": {
              "type": "string"
            },
            "example": "elonmusk"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2035003700855407052",
                        "text": "Happy vernal equinox! 🍀\n\nToday marks the first day of spring in the Northern Hemisphere and the first day of autumn in the Southern Hemisphere.",
                        "created_at": "Fri Mar 20 14:41:05 +0000 2026",
                        "author": {
                          "id": "11348282",
                          "userName": "NASA",
                          "name": "NASA",
                          "screen_name": "NASA",
                          "followers_count": 90024457,
                          "friends_count": 116,
                          "statuses_count": 73493,
                          "favourites_count": 16551,
                          "listed_count": 96550,
                          "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 15230,
                        "retweetCount": 2100,
                        "replyCount": 450,
                        "viewCount": 1250000,
                        "isRetweet": false,
                        "isReply": false,
                        "media": []
                      },
                      {
                        "id": "2035122401353031787",
                        "text": "RT @NASASpox: As major missions draw closer, momentum is building across @NASA...",
                        "created_at": "Fri Mar 20 22:32:45 +0000 2026",
                        "author": {
                          "id": "11348282",
                          "userName": "NASA",
                          "name": "NASA",
                          "screen_name": "NASA",
                          "followers_count": 90024457,
                          "friends_count": 116,
                          "statuses_count": 73493,
                          "favourites_count": 16551,
                          "listed_count": 96550,
                          "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 0,
                        "retweetCount": 361,
                        "replyCount": 0,
                        "viewCount": null,
                        "isRetweet": true,
                        "isReply": false,
                        "media": []
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/timeline/for-you": {
      "post": {
        "tags": [
          "Timelines"
        ],
        "summary": "For You Timeline",
        "description": "Retrieve the algorithmic \"For You\" home timeline.\n\n**Cost:** 14 credits",
        "operationId": "forYouTimeline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of tweets to return, 1-100 (default: 20)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2031042859114369256",
                        "text": "Example tweet from For You timeline",
                        "created_at": "Mon Mar 09 16:22:07 +0000 2026",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk",
                          "followers_count": 236242950,
                          "friends_count": 1292,
                          "statuses_count": 98757,
                          "favourites_count": 215441,
                          "listed_count": 167614,
                          "description": "",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/44196397/1739948056",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 25604,
                        "retweetCount": 3699,
                        "replyCount": 1335,
                        "viewCount": 1325114,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  },
                  "source": "for_you"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/timeline/latest": {
      "post": {
        "tags": [
          "Timelines"
        ],
        "summary": "Latest Timeline",
        "description": "Retrieve the chronological \"Following\" / \"Latest\" home timeline.\n\n**Cost:** 14 credits",
        "operationId": "latestTimeline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of tweets to return, 1-100 (default: 20)",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor for the next page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2031042244380107161",
                        "text": "RT @stackbtc_: We are excited to announce...",
                        "created_at": "Mon Mar 09 16:19:40 +0000 2026",
                        "author": {
                          "id": "244647486",
                          "userName": "saylor",
                          "name": "Michael Saylor",
                          "screen_name": "saylor",
                          "followers_count": 4945574,
                          "friends_count": 793,
                          "statuses_count": 7230,
                          "favourites_count": 10169,
                          "listed_count": 27371,
                          "description": "Bitcoin is Hope",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/244647486/1738781752",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 0,
                        "retweetCount": 64,
                        "replyCount": 0,
                        "viewCount": 9,
                        "isRetweet": true,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  },
                  "source": "latest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Tweets",
        "description": "Search for tweets.\n\n**Cost:** 225 credits",
        "operationId": "searchTweetsPool",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            },
            "example": "OpenAI"
          },
          {
            "name": "product",
            "in": "query",
            "description": "Result type filter (default: Top)",
            "schema": {
              "type": "string",
              "enum": [
                "Top",
                "Latest",
                "People",
                "Photos",
                "Videos"
              ],
              "default": "Top"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results, 1-100 (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2035355605234299007",
                        "text": "Building Sansa, it's an API AI router, selects the best model for each request in under 20ms.",
                        "created_at": "Sat Mar 21 13:59:26 +0000 2026",
                        "author": {
                          "id": "1952361085048365056",
                          "userName": "Jbm_dev",
                          "name": "Joshua Martin",
                          "screen_name": "Jbm_dev",
                          "followers_count": 2274,
                          "friends_count": 926,
                          "statuses_count": 4971,
                          "favourites_count": 20792,
                          "listed_count": 32,
                          "description": "Full-stack Dev | 3x Founder | Building Sansa",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 3,
                        "retweetCount": 0,
                        "replyCount": 1,
                        "viewCount": 21,
                        "isRetweet": false,
                        "isReply": true,
                        "media": []
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAACCgACHD84NpvAJxAKAAMcPzg2m7_Y8A..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}": {
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Delete Tweet",
        "description": "Delete a tweet by its ID.\n\n**Cost:** 225 credits",
        "operationId": "deleteTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to delete",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet deleted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/retweet": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Retweet",
        "description": "Retweet a tweet.\n\n**Cost:** 225 credits",
        "operationId": "retweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to retweet",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retweeted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Retweeted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Undo Retweet",
        "description": "Undo a retweet.\n\n**Cost:** 225 credits",
        "operationId": "undoRetweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to un-retweet",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retweet undone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Retweet undone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/pin": {
      "post": {
        "tags": [
          "Tweets"
        ],
        "summary": "Pin Tweet",
        "description": "Pin a tweet to the top of your profile.\n\n**Cost:** 225 credits",
        "operationId": "pinTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to pin",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet pinned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet pinned"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tweets"
        ],
        "summary": "Unpin Tweet",
        "description": "Unpin a tweet from your profile.\n\n**Cost:** 225 credits",
        "operationId": "unpinTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to unpin",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet unpinned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet unpinned"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/like": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Like Tweet",
        "description": "Like a tweet.\n\n**Cost:** 225 credits",
        "operationId": "likeTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to like",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet liked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet liked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/unlike": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Unlike Tweet",
        "description": "Unlike a previously liked tweet.\n\n**Cost:** 225 credits",
        "operationId": "unlikeTweet",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to unlike",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet unliked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Tweet unliked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/follow": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Follow User",
        "description": "Follow a user.\n\n**Cost:** 225 credits",
        "operationId": "followUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to follow",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User followed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "User followed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/user/{user_id}/unfollow": {
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Unfollow User",
        "description": "Unfollow a user.\n\n**Cost:** 225 credits",
        "operationId": "unfollowUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to unfollow",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "User unfollowed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/dm/{user_id}": {
      "post": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Send Direct Message",
        "description": "Send a direct message to a user.\n\n**Cost:** 225 credits",
        "operationId": "sendDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID of the recipient",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Message text to send"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "message_id": "e1814743-4cdc-4151-916d-17cf2fa7771a",
                  "conversation_id": "1693583885060202496-1818311005698678784",
                  "delivered": true,
                  "msg": "DM sent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/dm/block/{user_id}": {
      "post": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Block User in DMs",
        "description": "Block a user in direct messages.\n\n**Cost:** 225 credits",
        "operationId": "blockDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to block in DMs",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User blocked in DMs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "User blocked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Direct Messages"
        ],
        "summary": "Unblock User in DMs",
        "description": "Unblock a user in direct messages.\n\n**Cost:** 225 credits",
        "operationId": "unblockDM",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to unblock in DMs",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User unblocked in DMs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "User unblocked"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/tweets/{tweet_id}/bookmark": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Add Bookmark",
        "description": "Add a tweet to your bookmarks.\n\n**Cost:** 225 credits",
        "operationId": "addBookmark",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to bookmark",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tweet bookmarked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Bookmark added"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Remove Bookmark",
        "description": "Remove a tweet from your bookmarks.\n\n**Cost:** 225 credits",
        "operationId": "removeBookmark",
        "parameters": [
          {
            "name": "tweet_id",
            "in": "path",
            "required": true,
            "description": "ID of the tweet to remove from bookmarks",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bookmark removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Bookmark removed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/bookmarks": {
      "post": {
        "tags": [
          "Bookmarks"
        ],
        "summary": "Get Bookmarks",
        "description": "Get a paginated list of your bookmarked tweets.\n\n**Cost:** 14 credits",
        "operationId": "getBookmarks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of bookmarked tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "1879298220892504449",
                        "text": "Example bookmarked tweet",
                        "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                        "author": {
                          "id": "44196397",
                          "userName": "elonmusk",
                          "name": "Elon Musk",
                          "screen_name": "elonmusk"
                        },
                        "likeCount": 5000,
                        "retweetCount": 1000,
                        "replyCount": 200,
                        "viewCount": 500000,
                        "isRetweet": false,
                        "isReply": false
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAACCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create List",
        "description": "Create a new Twitter list.\n\n**Cost:** 225 credits",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the list"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the list"
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "Whether the list is private (default: false)",
                    "default": false
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "List created",
                  "data": {
                    "list_id": "1879298220892504449"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}": {
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Delete List",
        "description": "Delete a Twitter list.\n\n**Cost:** 225 credits",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to delete",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "List deleted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lists"
        ],
        "summary": "Update List",
        "description": "Update an existing Twitter list's name, description, or privacy setting.\n\n**Cost:** 225 credits",
        "operationId": "updateList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list to update",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cookie",
                  "proxy"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the list"
                  },
                  "description": {
                    "type": "string",
                    "description": "New description for the list"
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "Updated privacy setting"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Twitter auth cookie"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "Proxy URL to use for the request (HTTP or SOCKS5)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "List updated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/info": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List",
        "description": "Get information about a specific list.\n\n**Cost:** 14 credits",
        "operationId": "getList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "id": "1879298220892504449",
                    "name": "Tech Leaders",
                    "description": "Top voices in technology",
                    "member_count": 25,
                    "subscriber_count": 150,
                    "created_at": "Mon Jan 15 12:00:00 +0000 2025",
                    "is_private": false,
                    "owner": {
                      "id": "44196397",
                      "userName": "elonmusk",
                      "name": "Elon Musk",
                      "screen_name": "elonmusk"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/tweets": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Tweets",
        "description": "Get a paginated feed of tweets from a list.\n\n**Cost:** 14 credits",
        "operationId": "getListTweets",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of tweets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "tweets": [
                      {
                        "id": "2035003700855407052",
                        "text": "Happy vernal equinox! 🍀\n\nToday marks the first day of spring in the Northern Hemisphere and the first day of autumn in the Southern Hemisphere.",
                        "created_at": "Fri Mar 20 14:41:05 +0000 2026",
                        "author": {
                          "id": "11348282",
                          "userName": "NASA",
                          "name": "NASA",
                          "screen_name": "NASA",
                          "followers_count": 90024457,
                          "friends_count": 116,
                          "statuses_count": 73493,
                          "favourites_count": 16551,
                          "listed_count": 96550,
                          "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                          "location": "",
                          "profile_image_url_https": "",
                          "profile_image_url": "",
                          "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                          "verified": false,
                          "is_blue_verified": true,
                          "created_at": "",
                          "can_dm": false
                        },
                        "likeCount": 15230,
                        "retweetCount": 2100,
                        "replyCount": 450,
                        "viewCount": 1250000,
                        "isRetweet": false,
                        "isReply": false,
                        "media": []
                      }
                    ],
                    "has_next_page": true,
                    "next_cursor": "DAABCgABHC..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Members",
        "description": "Get a paginated list of members in a list.\n\n**Cost:** 14 credits",
        "operationId": "getListMembers",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "11348282",
                        "userName": "NASA",
                        "name": "NASA",
                        "screen_name": "NASA",
                        "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                        "location": "Pale Blue Dot",
                        "url": "https://t.co/9NkQJKAnuU",
                        "created_at": "Wed Dec 19 20:20:32 +0000 2007",
                        "followers": 90024447,
                        "following": 116,
                        "favourites_count": 16551,
                        "statuses_count": 73493,
                        "listed_count": 96550,
                        "media_count": 27783,
                        "verified": false,
                        "is_blue_verified": true,
                        "profile_image_url": "https://pbs.twimg.com/profile_images/1321163587679784960/0ZxKlEKB_normal.jpg",
                        "profile_banner_url": "https://pbs.twimg.com/profile_banners/11348282/1718393721",
                        "protected": false,
                        "can_dm": false
                      }
                    ],
                    "next_cursor": "0|2035407347207110654"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members/{user_id}/add": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add List Member",
        "description": "Add a member to a list.\n\n**Cost:** 225 credits",
        "operationId": "addListMember",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to add",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Member added to list"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/members/{user_id}/remove": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove List Member",
        "description": "Remove a member from a list.\n\n**Cost:** 225 credits",
        "operationId": "removeListMember",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "Numeric Twitter user ID to remove",
            "schema": {
              "type": "string"
            },
            "example": "44196397"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieProxyActionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": "success",
                  "msg": "Member removed from list"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/twitter/lists/{list_id}/subscribers": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List Subscribers",
        "description": "Get a paginated list of subscribers to a list.\n\n**Cost:** 14 credits",
        "operationId": "getListSubscribers",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list",
            "schema": {
              "type": "string"
            },
            "example": "123456789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginatedLargeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {
                    "users": [
                      {
                        "id": "11348282",
                        "userName": "NASA",
                        "name": "NASA",
                        "screen_name": "NASA",
                        "description": "Official NASA account. Exploring the universe, advancing science, and inspiring the next generation of explorers.",
                        "location": "Pale Blue Dot",
                        "url": "https://t.co/9NkQJKAnuU",
                        "created_at": "Wed Dec 19 20:20:32 +0000 2007",
                        "followers": 90024447,
                        "following": 116,
[...]
